In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

SMCS_df = pd.read_csv('Shopping Mall Customer Segmentation Data .csv')
display(SMCS_df)

,Customer ID,Age,Gender,Annual Income,Spending Score
0,d410ea53-6661-42a9-ad3a-f554b05fd2a7,30,Male,151479,89
1,1770b26f-493f-46b6-837f-4237fb5a314e,58,Female,185088,95
2,e81aa8eb-1767-4b77-87ce-1620dc732c5e,62,Female,70912,76
3,9795712a-ad19-47bf-8886-4f997d6046e3,23,Male,55460,57
4,64139426-2226-4cd6-bf09-91bce4b4db5e,24,Male,153752,76
...,...,...,...,...,...
15074,a0504768-a85f-4930-ac24-55bc8e4fec9e,29,Female,97723,30
15075,a08c4e0e-d1fe-48e7-9366-aab11ae409cd,22,Male,73361,74
15076,0e87c25a-268c-401a-8ba1-7111dcde6f1a,18,Female,112337,48
15077,5f388cbe-3373-4e16-b743-38f508f2249f,26,Female,94312,5
15078,b8b8f561-ebca-4401-8afe-544c906554ba,19,Male,78045,2

In [10]:
#Since this is 2 years ago, Gen Z 18-25, Millenials 26-41, Gen X 42-57, Baby Boomers 58-76, The Silent Generation 77-94
genZ_segment = SMCS_df.loc[(SMCS_df["Age"] >= 18) & (SMCS_df["Age"] <= 25)]
millenial_segment = SMCS_df.loc[(SMCS_df["Age"] >= 26) & (SMCS_df["Age"] <= 41)]
genX_segment = SMCS_df.loc[(SMCS_df["Age"] >= 42) & (SMCS_df["Age"] <= 57)]
bboom_segment = SMCS_df.loc[(SMCS_df["Age"] >= 58) & (SMCS_df["Age"] <= 76)]
silent_segment = SMCS_df.loc[(SMCS_df["Age"] >= 77) & (SMCS_df["Age"] <= 94)]

In [15]:
print(genZ_segment["Spending Score"].mean())
print(millenial_segment["Spending Score"].mean())
print(genX_segment["Spending Score"].mean())
print(genX_segment["Spending Score"].mean())
print(silent_segment["Spending Score"].mean())

51.843516209476306
50.216175586289836
50.743946731234864
50.743946731234864
50.24654765914449